body{
    background-image: url(uno.jpg);
width: 80%;
font-size: 22px;
color: azure;
}
#camera 
{

    border: 2px dashed ;
width: 350px;
height: 300px;
}


.name_of_objects, #result_object_name , #result_object_accuracy
{
color:rgb(255, 255, 255);
font-size: 20px;;

}





